Order Deny,Allow
Deny from 191.232.136.182
Deny from 191.232.136.124
Deny from 40.77.167.21
Deny from 157.55.39.131
Deny from 157.55.39.28
Deny from 157.55.39.243

RewriteEngine on
RedirectMatch 403 /\..*$

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

php_value eaccelerator.optimizer 0