body
{
  margin: 0;
  padding: 0;
  color: #555;
  font: normal 10pt Arial,Helvetica,sans-serif;
}

fieldset{
  border: 1px solid #999;
  padding: 10px;
  margin-top: 20px;
}

#page
{
  margin-top: 10px;
  margin-bottom: 5px;
  background: white;
}

#header
{
  margin: 0;
  padding: 0;
  border-top: 3px solid #C9E0ED;
}

#content
{
  padding: 20px;
}

#sidebar
{
  padding: 20px 20px 20px 0;
}

#footer
{
  padding: 10px;
  background: whitesmoke;
}

#topmenu{
  margin-top: 5px;
  display: inline;
}
#topmenu li, #mainmenu ul li{
  display: inline;
  text-transform: uppercase;
}

#topmenu li a, #mainmenu ul li a{
  text-decoration: none;
  -moz-text-decoration-line: none;
}
#topmenu li a{
  color: #666666;
}
#topmenu li a:hover{
  text-decoration: underline;
  -moz-text-decoration-line: underline;
}
.top-menu-item{
  font: 10pt Arial,Helvetica,sans-serif;
  color: #555;
}
.top-menu-item:before{
  content: '|';
  margin: 5px;
}
.top-menu-first:before, .icon-cart:before{
  content: '';
}
#shoppingCart{
  text-transform: lowercase !important;
}

#mainmenucont{
  background: #2f386b;
  width: 950px;
  margin: 0 auto;
  position: relative;
}
#mainmenuarea.f-menu{
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
}
#mainmenucont.f-menucont{
  width: 100%;
}
#mainmenu{
  width: 950px;
  margin: 0 auto;
}
#mainmenu ul{
  margin: 0;
  padding-left: 0px;
}
#mainmenu ul li a{
  line-height: 33px;
  padding: 8px;
}
#mainmenu ul, #mainmenu ul li a{
  color: whitesmoke;
}
#mainmenu ul li a:hover{
  color: #80CFFF;
}

div.flash-error, div.flash-notice, div.flash-success
{
  padding:.8em;
  margin-bottom:1em;
  border:2px solid #ddd;
}

div.flash-error
{
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}

div.flash-notice
{
  background:#FFF6BF;
  color:#514721;
  border-color:#FFD324;
}

div.flash-success
{
  background:#E6EFC2;
  color:#264409;
  border-color:#C6D880;
}

div.flash-error a
{
  color:#8a1f11;
}

div.flash-notice a
{
  color:#514721;
}

div.flash-success a
{
  color:#264409;
}

div.form .rememberMe label
{
  display: inline;
}

div.view
{
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #C9E0ED;
}

div.search-form
{
  padding: 10px;
  margin: 10px 0;
  background: #eee;
}

.align-right
{
  float: right;
  position: relative;
  /*text-align: right;*/
}

.inline
{
  display: inline;
}

.operations
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.operations li
{
  padding-bottom: 2px;
}

.operations li a
{
  font: bold 12px Arial;
  color: #0066A4;
  display: block;
  padding: 2px 0 2px 8px;
  line-height: 15px;
  text-decoration: none;
}

.operations li a:visited
{
  color: #0066A4;
}

.operations li a:hover
{
  background: #80CFFF;
}

.table{
  display: table;
  width: 100%;
}

.table-cell{
  display: table-cell;
}

.footer-menu{
  width: 200px;
}
.footer-menu div{
  height: 2em;
}

.icon-sklad{
  background: url(/themes/abctoy/css/icons.png) no-repeat;
  background-position: -95px 0px;
  width: 95px;
  height: 95px;
  margin: 0 auto;
}

.icon-dicount, .icon-top10, .icon-recom{
  width: 55px;
  height: 55px;
  background: url(/themes/abctoy/css/icons_small.png) no-repeat;
}
.icon-dicount{
  background-position: -108px -55px;
}
.icon-top10{
  background-position: -108px -114px;
}
.icon-recom{
  background-position: -162px -55px;
}

.iconsearch, input[type=radio] + label:before,
input[type=radio]:checked + label:before, input[type=checkbox] + label:before,
input[type=checkbox]:checked + label:before, .weekcarousel-prev,
.top10carousel-prev, .weekcarousel-next, .top10carousel-next,
.green-glass, .red-glass, .brands-next, .brands-prev{
  background: url(/themes/demark/img/elements.png) no-repeat;
}
.icon-cart a:before{
  content: '';
  display: inline-block;
  position: relative;
  left: -10px;
  vertical-align: top;
  background-position: -38px -28px;
  width: 24px;
  height: 24px;
  background: url(/themes/demark/img/cart.png);
  top: 3px;
}

.iconsearch{
  background-color: whitesmoke !important;
  background-position: 3px -133px !important;
  width: 25px !important;
  height: 25px !important;
  cursor: pointer;
}

.flag_ru:before, .flag_kz:before{
  content: '';
  background: url(/themes/demark/img/flags.png) no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 7px;
}
.flag_ru, .flag_kz{
  cursor: pointer;
}

.flag_kz:hover, .flag_ru:hover{
  text-decoration: underline;
}

.flag_kz:before{
  background-position: 0 -24px;
}

.valign-middle{
  vertical-align: middle;
}

.underline-dashed{
  border-bottom: 1px dashed;
  display: inline;
}

.breadcrumbs{
  font-size: 10pt; 
  margin: 10px 0 20px; 
  color: gray;
}
.breadcrumbs span{
  font-weight: bold;
}
.breadcrumbs a{
  /*text-decoration: none;*/
  /*color: gray;*/
}

.lager{
  font-size: larger;
}

.x-lage{
  font-size: x-large;
}

.blue{
  color: #2f386b;
}
.blue-border{
  border: 1px solid #2f386b;
}
.blue-light{
  color: #66ccff;
}
.blue-light-background{
  background: #66ccff;
}
.gray{
  color: #666666;
}

.bold{
  font-weight: bolder;
}
.red, span.required{
  color: #cc3333;
}

.green{
  color: #99cc33;
}

.yellow{
  color: #ff9933;
}

.items{
  display: block;
  /*width: 960px;*/
  margin: 10px auto;
}

.item{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 186px;
  height: 300px;
}
.item a{
  text-decoration: none;
}
.item > a > div{
  width: 165px;
  height: 270px;
  /*border-radius: 5px;*/
  box-shadow: 0 2px 3px -1px #666666;
  position: relative;
  left: 8px;
  top: 11px;
  border: 4px solid white;
}
.item-link{
  cursor: pointer;
}
a:hover > .box-item{
  /*border: 3px solid #cc3333;*/
  box-shadow: 2px 4px 5px -1px #666666;
  left: 6px;
  top: 9px;
}

.item-img img{
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 120px;
  max-width: 140px;
}
.item-img{
  position: relative;
  height: 150px;
}
.item-name{
  padding: 0 5px;
  height: 47px;
  text-align: center;
  /*text-decoration: underline;*/
  /*font-style: italic;*/
  /*color: #666666;*/
}
.item-rest{
  text-align: center;
  font-style: italic;
  /*height: 1.5em;*/
}
.item-disc{
  text-align: center;
  height: 15px;
  font-size: 12pt;
}
.item-disc > span{
  text-decoration: line-through;
}
.item-disc > span.ruble, .item-disc > span.tenge{
  text-decoration: none;
  font-size: 60%;
}

.ruble, .tenge{
  margin-left: 0.2em;
  font-weight: normal;
}

.ruble:after{
  content: '\2013';
  position: relative;
  right: 0.7em;
  top: 0.07em;
}

.item-name a{
  font-style: italic;
  font-weight: normal;
  color: #cc3333;
}

.item-price{
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin: 4px 5px;
}
.item-price > span.ruble, .item-price span.tenge{
  font-size: 60%;
}

.inline-blocks > div{
  display: inline-block;
  vertical-align: top;
}

.jcarousel, .weekcarousel, .top10carousel, .brands {
  position: relative;
  overflow: hidden;
  width: 948px;
}

.jcarousel ul, .weekcarousel ul, .top10carousel ul, .brands ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li, .weekcarousel li, .top10carousel li, .brands li{
  float: left;
}
/*.strike{
  background:url(/themes/abctoy/css/gray1x2.png) repeat-x 0 11px;
}*/

.item-bt, .main-submit, .login-submit{
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  color: white;
  border: 1px solid rgb(250,172,17);
  border-radius: 5px;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  bottom: 15px;
  left: 0;
  right: 0;
  transition: box-shadow .2s, border-color .1s;
  padding: .2em .5em;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  margin: auto;
}
.item-bt{
  position: absolute;
  display: none;
  font-size: 11pt;
  width: 115px;
}
.main-submit{
  font-size: 16pt;
  font-weight: bold;
  width: 215px;
  height: 35px;
  line-height: 35px;
}
.login-submit{
  width: 100px !important;
}
.item-bt:hover, .main-submit:hover, .login-submit:hover{
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.3);
}

.item-bt:active, .main-submit:active, .login-submit:active{
  padding: calc(.2em + 1px) .5em calc(.2em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

.item-bt div{
  line-height: 28px;
  font-weight: bold;
  padding-left: 25px;
  background: url(/themes/demark/img/cart-add.png) no-repeat;
}

a.item-link:hover .item-bt{
  display: block;
}

a.item-link:hover .item-disc, a.item-link:hover .item-price{
  display: none;
}

input[type=radio] +label, input[type=checkbox] + label
{
  padding:2px 7px 2px 25px;
  cursor: pointer;
  position: relative;
}

input[type=radio], input[type=checkbox]
{
  display:none;
}

input[type=radio] + label:before
{
  background-position: 0 -20px;
}

input[type=radio]:checked + label:before
{
  background-position: 0 2px;
}
input[type=checkbox] + label:before, input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before, input[type=radio] + label:before
{
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 20px;
  height: 20px;
}
input[type=checkbox] + label:before{
  background-position: 0 -64px;
}
input[type=checkbox]:checked + label:before
{
  background-position: 0 -42px;
}
#categoryOnly + label:before{
  top: -10px;
}

.ui-slider{
  width: 250px;
  border: 0 !important;
  background: lightgray !important;
  box-shadow: 0px 1px 1px 1px #999999 inset;
  height: 9px !important;
}
.ui-slider .ui-slider-range{
  background:url(/themes/demark/img/slider_select.png) repeat-x;
}
.ui-slider-handle{
  background:url(/themes/demark/img/elements.png) no-repeat -1px -89px !important;
  border: 0 !important;
  height: 20px !important;
}
/*#age_slider:before{
  content: "0";
  position: absolute;
  left: -18px;
  top: -3px;
  font-size: 7.5pt;
}
#age_slider:after{
  content: "10";
  position: absolute;
  right: -17px;
  top: -3px;
  font-size: 7.5pt;
}*/
#price_slider:before{
  content: "0";
  position: absolute;
  left: -18px;
  top: -3px;
  font-size: 7.5pt;
}
#price_slider:after{
  content: "5000+";
  position: absolute;
  right: -43px;
  top: -3px;
  font-size: 7.5pt;
}

.slider-tooltip{
  background:url(/themes/demark/img/sltt.png) no-repeat;
  width: 30px;
  height: 21px;
  text-align: center;
  position: absolute;
  top: 25px;
  left: -7px;
  font-size: 7.5pt;
  line-height: 2.6;
}

.weekcarousel-prev, .top10carousel-prev{
  left: -40px;
}
.weekcarousel-prev, .top10carousel-prev, .brands-prev{
  background-position: -33px -64px;
}
.weekcarousel-next, .top10carousel-next{
  right: -40px;
}
.weekcarousel-next, .top10carousel-next, .brands-next{
  background-position: -33px -103px;
}
.weekcarousel-prev, .weekcarousel-next,
.top10carousel-prev, .top10carousel-next, .brands-next, .brands-prev{
  position: absolute;
  width: 35px;
  height: 35px;
}
.brands-prev, .brands-next{
  top: 55px;
}
.brands-prev{
  left: 10px;
}
.brands-next{
  right: 10px;
}
.weekcarousel-prev, .weekcarousel-next,
.top10carousel-prev, .top10carousel-next{
  top: 120px;
}

.discount-label-big, .discount-label{
  position: absolute;
  background: #cc3333;
  color: white;
  font-weight: bold;
  z-index: 1;
  text-align: center;
  line-height: 3;
}
.discount-label-big{
  font-size: 15pt;
  width: 60px;
  height: 60px;
  top: 20px;
  border-radius: 30px;
}
.discount-label{
  font-size: 10pt;
  width: 40px;
  height: 40px;
  top: -13px;
  left: -14px;
  border-radius: 20px;
}

.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.nomarker{
  list-style-type: none;
  margin-top: 15px !important;
}

.category a, .mainmenuitem a{
  text-decoration: none;
}
.category a:hover, .mainmenuitem a:hover{
  text-decoration: underline;
}
.category{
  line-height: 1;
  margin-top: 7px;
  font-weight: normal;
}

.subcategory a{
  color: #666666;
}

.current-category{
  font-weight: bold;
}

.img-container{
  position: relative;
}

.cart-quantity{
  width: 3em;
}
.cart-item-del{
  display: inline-block;
  padding: 4px;
  font-size: 8pt;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #fff;
  color: #666;
  background: #ccc;
  border-radius: 3px;
  cursor: pointer;
}
.cart-item-del:hover, .cart-item-del:active{
  text-decoration: underline;
}

.img-container > a > img{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.payment-cash, .payment-cart{
  background: url(/themes/demark/img/pay-icons.png) no-repeat;
  width: 48px;
  display: inline-block;
  margin-right: 10px
}
.payment-cash{
  height: 45px;
  margin-bottom: 5px;
}
.payment-cart{
  height: 33px;
  background-position: 0 -45px;
  /*margin-bottom: 6px;*/
}

.error{
  border-color: #cc3333;
}
.errorSummary{
  font-size: 12pt;
}
.errorSummary p{
  margin: 0;
}
.errorSummary ul{
  background: bisque;
  font-size: 10pt;
  padding: 10px 20px;
  margin: 10px 0;
}

#profile-grid-order .items{
  display: table;  
  font-size: 12pt;
}
#profile-grid-order th, #profile-grid-order th a, .summary{
  background: #414FA5;
  color: white;
}
#profile-grid-order td{
  text-align: center;
}
#profile-grid-order .odd{
  background-color: white;
}
#profile-grid-order .even{
  background-color: whitesmoke;
}

#popup-window{
  overflow: visible;
}
.popup-window {
  border-radius: 0 !important;
  overflow: visible !important;
}
.popup-window .ui-dialog-titlebar{
  display: none;
}
#bottom-bar{
  display: none;
  background: url('/themes/abctoy/css/bottom-bar.png') repeat-x;
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 44px;
  line-height: 50px;
  font-weight: bold;
  font-size: 11pt;
}

.loading{
  background: url(/images/loading.gif) center no-repeat;
  height: 125px;
  width: 125px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.category-menu-lev1{
  display: table;
}

.category-menu-lev1 > div > span{
  margin-right: 5px;
}

.category-menu-lev1 > div{
  display:table-cell; 
  vertical-align: bottom;
}

.category > a img{
  position: relative;
  top: 5px;
  max-width: 34px;
  max-height: 34px;
}

a.red{
  text-decoration: none;
}
a.red:hover{
  color: #cc3333;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

table.striped tr:nth-child(even) {
  background-color: #EEE; 
}

.text-right{
  text-align: right;
}

td.text-right{
  padding-right: 20px;
}

#open-login{
  cursor: pointer;
}
#open-login:hover{
  text-decoration: underline;
}
#open-login:before{
  content: '';
  /*background: url(/themes/demark/img/login.png) no-repeat;*/
  left: 85px;
  top: -6px
}
#login-dialog{
  display: none;
  position: absolute;
  border: solid 1px #BBB;
  background: #D3E3F0;
  z-index: 400;
  text-align: left;
  box-shadow: 1px 1px 2px -1px;
  width: 250px;
  height: 210px;
  right: 0px;
  top: 27px;
}
#login-dialog:before{
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 10px;
  background: url(/themes/demark/img/top_corner.png) no-repeat;
  right: 8px;
  top: -10px;
}
#login-dialog > div{
  width: 205px;
  margin: auto;
}
#login-dialog input{
  width: 200px;
}
.close-dialog{
  content: '';
  display: none;
  position: relative;
  width: 16px;
  height: 16px;
  background: url(/themes/demark/img/cross.png);
  margin: 3px 5px;
  cursor: pointer;
}

#profile-link:before{
  content: '';
  /*background: url(/themes/demark/img/account.png) no-repeat;*/
  top: -7px;
  left: -4px;
}

#profile-link:before, #logout-link:before, #open-login:before{
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
}

#logout-link:before{
  content: '';
  /*background: url(/themes/demark/img/logout.png) no-repeat;*/
  left: 70px;
  top: -3px;
}

.page-title{
  font-size: 18pt;
  margin: 20px 0;
}

#order-hint{
  left: 410px;
  top: 0;
}
#delivery-hint{
  left: 100px;
}
.hintl, .hintr{
  font-size: 14pt;
  background: #FFB770;
  border-radius: 10px;
  position: absolute;
  padding: 20px;
}
.hintl:before{
  content: "";
  background: url(../img/cornerl.png) no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 60px;
  left: -5px;
}
.hintr:before{
  content: "";
  background: url(../img/cornerr.png) no-repeat;
  width: 90px;
  height: 250px;
  position: absolute;
  bottom: 60px;
  right: -5px;
}

.selfem{
  color: #39C;
  text-decoration: underline;
  cursor: pointer;
}
.selfem:hover{
  color: #09F;
}
.dialog{
  background: white;
}
.success{
  margin: 10px 0;
}